body div{
    width : 400px;
    height: auto;
    margin: auto;
    background-color: rgb(202, 194, 194);
    padding: 25px;
    font-size: 1.3em;
    box-shadow: 5px 5px 15px rgb(26, 25, 25);
    text-align: left;
}

div input{
    margin-bottom: 15px;
}

div label {
    font-weight : bold;
}

#passlength {
    width: 50px;
    height:auto;
    border : 2px solid black;
}

div button {
    width: auto;
    height: 50px;
    border-radius: 25px;
    font-size: 1.2em;
    margin-left: 35%;
}

div p {
    color: rgb(221, 27, 179);
    text-align: center;
}

div h3 {
    text-align: center;
}