body {
    background-color: rgb(70, 66, 66);
    color: aqua;
    font-size: 1.5em;
}

button {
    background-color: rgb(34, 32, 32);
    color: aquamarine;
    width: 120px;
    height: 70px;
    border-radius: 25px;
    font-size: 1.1em;
}